body {
    font-family: arial, sans-serif;
    background-color: aliceblue;
}

.Tituloprimero{
    color: blue;
    height: 50px;
    width: 100%;

}

.TituloSegundo{
    color: blanchedalmond;
    height: 50px;
    width: 100%;
}